body {
	background-color: #FAEBD7;
	color: #4682B4;
    	font: 12px Arial, sans-serif;
}
p.hassu {
	font-size: 12px;
	border-radius: 2px 2px 5px 2px;
	background: #4682B4;
	padding: 10px;
	color: #ffffff;
}
#otsikko {
	border-radius: 0px 0px 5px 0px;
	background: #4682B4;
	padding: 10px;
	text-align: center; 
    font-size: 14px;
	color: #ffffff;
}
table.sivu {
	border: 1px solid #708090;
	padding: 10px;
	margin: 20px;
	background-color: #ADD8E6;
	width: 700px;
}
th.otsikko {
	height: 80px;
	vertical-align: middle;
	text-align: center;
}
td.navigaattori {
	height: 40px;
	vertical-align: middle;
	text-align: left;
}
td.sisalto {
	padding: 0px;
	vertical-align: top;
	text-align: left;
}
td.alatunniste {
    	text-align: right;
   	font-size: 10px;
    	color: #708090;
    	padding: 0px 5px 0px 0px;
    	border: 1px #2b2b2b dotted;
}
img.kuva {
	border: 1px solid #C71585;
	padding: 5px;
	width: 300px;
}
figure {
  	display: inline-block;
  	border: 1px dotted #708090;
  	padding: 5px;
	margin-left: 0px;
}
figure img {
  	vertical-align: top;
	width: 300px;
}
figure figcaption {
	text-align: center;
	background-color: #708090;
	color: #ffffff;
}
div.kaikki {
    	border: 1px solid #708090;
    	padding: 10px;
    	margin: 20px;
    	background-color: #ADD8E6;
	width: 50%;
	height: auto;
}
div#otsikko {
	width: 100%;
	background-color: #ADD8E6;
	color: #ffffff;
	overflow: auto;
}
div#menu {
	width: 100%;	
}
td.navigaattori ul {
    	list-style-type: none;
    	overflow: hidden;
    	background-color: #124177;
    	margin: 0;
    	padding: 0;
}
td.navigaattori li {
    	float: left;
}
td.navigaattori li a {
    	padding: 0.8em;
    	display: block;
    	text-align: center;
    	text-decoration: none;
    	color: #dadada;
    	font-weight: bold;
}
td.navigaattori li a:hover:not(.active) {
    	background-color: #6189b8;
}
td.navigaattori .aktiivinen {
    	background-color: #9fcffc;
    	color: #2b2b2b;
}
div.osio {
    	content: ".";
    	display: block;
    	height: 0;
    	clear: both;
}
div.linkit, div.artikkeli {
    	float: left;
    	box-sizing: border-box;
    	padding: 10px;
    	border: 0;
}
div.linkit {
    	text-align: left;
    	width: 25%;
}
div.artikkeli {
    	width: 75%;
    	padding: 0;
}

div.linkit ul {
    	list-style-type: none;
    	padding: 0;
    	margin: 0;
}
div.linkit li {
	color: #010101;
}
div.linkit li a {
    	text-decoration: none;
    	color: #2b2b2b;
    	font-weight: bold;
}
div.linkit li a:hover:not(.active) {
    	color: #d67200;
}
