body {
	background-color: #FAEBD7;
	color: #4682B4;
	font: Arial, sans-serif;
}

h1 {
	font-size: 20px;
	color: #191970;
}

p {
	font-size: 12px;
}

#otsikko {
	border-radius: 0px 0px 5px 0px;
	background: #4682B4;
	padding: 10px;
	width: 100px;
	text-align: center; 
	font: 14px Arial, sans-serif;
	color: #ffffff;
}

table.sivu {
	border: 0px;
	background-color: #ADD8E6;
	width: 500px;
	height: 500px;
}

th.otsikko {
	padding: 10px;
}

td.linkit {
	padding: 10px;
}

td.sisalto {
	padding: 10px;
}
