body {
	background-color: #ffffff;	
}

#otsikko {
	border-radius: 0px 0px 5px 0px;
	background: #4682B4;
	padding: 10px;
	width: 100px;
	text-align: center; 
	font: 14px Arial, sans-serif;
	color: #ffffff;
}

table.sivu {
	border: 0px;
	background-color: #ADD8E6;
}

th.otsikko {
	padding: 10px;
	
}

td.linkit {
	padding: 10px;
}

td.sisalto {
	padding: 10px;
}
